.h {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    position: relative;
}

.h p {
    position: sticky;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 22;
}

.j {
    width: 100vw;
    height: 100vh;
    background-color: green;
}